Repository traekka/traekka-website: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint --fix, prettier --write, prettier --ignore-unknown --write, stylelint --fix, imagemin-lint-staged

add lint staged script
  package.json
Due: prettier --ignore-unknown --write

add huskey
  .husky/pre-commit
  package.json
Due: prettier --ignore-unknown --write

add commit message hook
  .husky/commit-msg
Due: none

feat: add commit lint
  .husky/commit-msg
  commitlint.config.js
  package.json
Due: next lint --fix, prettier --write, prettier --ignore-unknown --write

fix: husky commit msg hook executable
  .husky/commit-msg
Due: none

feat: add commitizen
  .husky/prepare-commit-msg
  package.json
Due: prettier --ignore-unknown --write

feat: Add rule capitalize commit subject
  commitlint.config.js
Due: next lint --fix, prettier --write

feat: Add commitlint cz-commitlint library
  package.json
Due: prettier --ignore-unknown --write

feat: Add recommended vs code extensions
  .vscode/extensions.json
Due: prettier --ignore-unknown --write

feat: Add recommended vs code settings
  .vscode/settings.json
Due: prettier --ignore-unknown --write

feat: Add vs code launch file
  .vscode/launch.json
Due: prettier --ignore-unknown --write

feat: Add vs code task file for type checking
  .vscode/tasks.json
Due: prettier --ignore-unknown --write

fix(.gitignore): Remove duplicate .vscode
  .gitignore
Due: none

feat: Add bundle-analyzer
  next.config.js
  package.json
Due: next lint --fix, prettier --write, prettier --ignore-unknown --write

feat: Add analyze scripts
  package.json
Due: prettier --ignore-unknown --write

fix: Remove next-sitemap for now
  package.json
Due: prettier --ignore-unknown --write

feat: Add run-all command
  package.json
Due: prettier --ignore-unknown --write

feat: Add build prod scripts
  package.json
Due: prettier --ignore-unknown --write

feat: Add check-types script
  package.json
Due: prettier --ignore-unknown --write

feat: Add github action static code checks
  .github/workflows/test-static.yaml
Due: prettier --ignore-unknown --write

feat: Add package-lock file
  package-lock.json
Due: prettier --ignore-unknown --write

fix: Add replace npm ci with install
  .github/workflows/test-static.yaml
Due: prettier --ignore-unknown --write

fix: Change packe-lock file versinon to 1
  package-lock.json
Due: prettier --ignore-unknown --write

fix: Add missing eslint plugins
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

fix: Fix code format errors
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: next lint --fix, prettier --write

fix: Lint-staged configrc throwing errors
  .lintstagedrc
  lint-staged.config.js
Due: next lint --fix, prettier --write

feat(.prettierrc): Switch to to prettier.config.js
  .prettierrc
  prettier.config.js
Due: next lint --fix, prettier --write

feat(.stylelintrc): Swtich to stylelnt.config.js
  .stylelintrc
  stylelint.config.js
Due: next lint --fix, prettier --write

feat: Update typescript config
  tsconfig.json
Due: prettier --ignore-unknown --write

fix: Remove * regex for ignoring all .config files
  .ls-lint.yml
Due: prettier --ignore-unknown --write

fix: Align lint-staged and lint script
  package.json
Due: prettier --ignore-unknown --write

feat: Add stylelint fix to format script
  package.json
Due: prettier --ignore-unknown --write

fix: Stylelint css formatting
  src/styles/globals.css
Due: prettier --write, stylelint --fix

feat: Make lint step name more meaningful
  .github/workflows/test-static.yaml
Due: prettier --ignore-unknown --write

feat: Add cypress for e2e testing
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat: Add scripts for running cypress
  package.json
Due: prettier --ignore-unknown --write

feat: Add cypress configuration
  cypress.config.js
Due: next lint --fix, prettier --write

feat: Add cypress config to ls-lint ignore
  .ls-lint.yml
Due: prettier --ignore-unknown --write

feat: Feat: Add cypress configuration
  cypress.config.ts
Due: next lint --fix, prettier --write

feat: Add tsc-files package
  cypress.config.ts
  package-lock.json
  package.json
Due: next lint --fix, prettier --write, prettier --ignore-unknown --write

Path conditions:
  next lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,less})
  prettier --ignore-unknown --write: any of: *.{json,yaml,yml,md}
  stylelint --fix: any of: *.{css,scss,less}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
