Repository traekka/traekka-website: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint --fix, prettier --write, prettier --ignore-unknown --write, stylelint --fix, imagemin-lint-staged

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["next lint --fix", "prettier --write"],
  "**/*.ts?(x)": "npm run check-types",
  "*.{json,yaml,yml,md}": ["prettier --ignore-unknown --write"],
  "*.{css,scss,less}": ["stylelint --fix", "prettier --write"],
  "*.{png,jpeg,jpg,gif,svg}": "imagemin-lint-staged"
}

fix: Add breaks between commands
  .github/workflows/test-e2e.yaml
  .github/workflows/test-static.yaml
  .github/workflows/test-unit.yaml
Due: prettier --ignore-unknown --write

fix: Name step more appropriately
  .github/workflows/test-static.yaml
Due: prettier --ignore-unknown --write

fix: Only trigger on pull requests
  .github/workflows/test-e2e.yaml
  .github/workflows/test-static.yaml
Due: prettier --ignore-unknown --write

feat: Add codeQL checks
  .github/workflows/test-static.yaml
Due: prettier --ignore-unknown --write

feat: Add dependabot configuration
  .github/dependabot.yaml
Due: prettier --ignore-unknown --write

feat: Update deploy job name
  .github/workflows/deploy-azure-develop.yaml
Due: prettier --ignore-unknown --write

feat: Add set pre-production static url
  .github/workflows/deploy-azure-develop.yaml
Due: prettier --ignore-unknown --write

feat: Add e2e and visual testing for pre-prod
  .github/workflows/deploy-azure-develop.yaml
Due: prettier --ignore-unknown --write

feat: Add clean testing pre-production environment
  .github/workflows/deploy-azure-develop.yaml
Due: prettier --ignore-unknown --write

feat: Update deploy to production workflow
  .github/workflows/deploy-azure-production.yaml
Due: prettier --ignore-unknown --write

fix: remove capitalization of commit messages rule
  commitlint.config.js
Due: next lint --fix, prettier --write

feat: add commitlint functions plugin
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat: add commitlint exception for dependabot
  commitlint.config.js
Due: next lint --fix, prettier --write

fix: allow use before define function and class
  .eslintrc
Due: none

fix: remove echo pull request name
  .github/workflows/deploy-azure-develop.yaml
Due: prettier --ignore-unknown --write

feat: new package lock after dependabot updates
  package-lock.json
Due: prettier --ignore-unknown --write

feat: add next-sitemap package
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat: add next-sitemap configuration
  .ls-lint.yml
  next-sitemap.config.js
  package.json
Due: next lint --fix, prettier --write, prettier --ignore-unknown --write

feat: ignore sitemap and robots for git
  .gitignore
Due: none

feat: add next-seo package
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat: add metadata test
  __mocks__/next/router.ts
  next.config.js
  tests/metadata.test.tsx
Due: next lint --fix, prettier --write

feat: add metadata rendering
  src/layouts/Metadata.tsx
  src/pages/index.tsx
  src/types/MetdataProps.ts
  src/utils/AppConfig.ts
Due: next lint --fix, prettier --write

feat: update ls-lint rules
  .ls-lint.yml
Due: prettier --ignore-unknown --write

feat: align title and description
  src/pages/index.tsx
  src/utils/AppConfig.ts
Due: next lint --fix, prettier --write

feat: add e2e test for metadata
  cypress/e2e/seoMetadata.cy.ts
Due: next lint --fix, prettier --write

fix: align text
  README.md
Due: prettier --ignore-unknown --write

feat: add detailed quickstart
  README.md
Due: prettier --ignore-unknown --write

feat: add new codebase details
  README.md
Due: prettier --ignore-unknown --write

feat: add example env file
  .env.example
Due: none

feat: add badges
  README.md
Due: prettier --ignore-unknown --write

feat: update quick starter section
  README.md
Due: prettier --ignore-unknown --write

feat: clean up dev deployment when pr closed
  .github/workflows/deploy-azure-develop-clean.yaml
  .github/workflows/deploy-azure-develop.yaml
Due: prettier --ignore-unknown --write

fix: remove dependencies deploy develop clean
  .github/workflows/deploy-azure-develop-clean.yaml
Due: prettier --ignore-unknown --write

feat: run static test on push to main and dev
  .github/workflows/test-static.yaml
Due: prettier --ignore-unknown --write

feat: run e2e tests on push to main dev
  .github/workflows/test-e2e.yaml
Due: prettier --ignore-unknown --write

feat: add composer-plugin
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat: configure next to use composer-plugin
  next.config.js
Due: next lint --fix, prettier --write

fix: dont compile inline source map for cypress
  cypress/tsconfig.json
Due: prettier --ignore-unknown --write
