Repository traekka/traekka-website: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint --fix, prettier --write, prettier --ignore-unknown --write, stylelint --fix, imagemin-lint-staged

fix: Replace tsc with tsc-files in lint-staged
  lint-staged.config.js
Due: next lint --fix, prettier --write

feat: Add ls-lint to lint-staged script
  .ls-lint.yml
  lint-staged.config.js
Due: next lint --fix, prettier --write, prettier --ignore-unknown --write

feat: Add testinglibrary cypress for commands
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat: Add eslint cypress configuration
  .eslintrc
Due: none

feat: Add ts configuration for cypress fixtures
  cypress/tsconfig.json
  tsconfig.json
Due: prettier --ignore-unknown --write

feat: Add cypress example fixture
  cypress/fixtures/example.json
Due: prettier --ignore-unknown --write

feat: Add cypress e2e commands
  cypress/support/commands.ts
  cypress/support/e2e.ts
Due: next lint --fix, prettier --write

feat: Add basic cypress components configuration
  cypress/support/component-index.html
  cypress/support/component.ts
Due: next lint --fix, prettier --write

feat: Add landingpage e2e test
  cypress/e2e/landingpage.cy.ts
Due: next lint --fix, prettier --write

feat: Add start-server-and-test cypress dependency
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat: Add gh action to run e2e test
  .github/workflows/test-e2e.yaml
Due: prettier --ignore-unknown --write

fix: Ls-lint ignore cypress e2e due to xxx.cy.ts
  .ls-lint.yml
Due: prettier --ignore-unknown --write

fix: Remove percy for now
  cypress/tsconfig.json
Due: prettier --ignore-unknown --write

fix: Type check cypress with correct config file
  lint-staged.config.js
  package.json
  tsconfig.json
Due: next lint --fix, prettier --write, prettier --ignore-unknown --write

fix: Sort package json keys
  package.json
Due: prettier --ignore-unknown --write

feat(README): Remove mocha option since purely frontend
  README.md
Due: prettier --ignore-unknown --write

feat: Add jest and required packages
  package.json
Due: prettier --ignore-unknown --write

feat: Add jest configuration
  jest.config.js
  jest.setup.js
Due: next lint --fix, prettier --write

feat: Add eslint jest configuration
  .eslintrc
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

fix: Update ls-lint exceptions
  .ls-lint.yml
Due: prettier --ignore-unknown --write

feat: Add sample test for landingpage
  src/pages/index.tsx
  tests/index.test.tsx
Due: next lint --fix, prettier --write

fix: Update e2e test for landingpage
  cypress/e2e/landingpage.cy.ts
Due: next lint --fix, prettier --write

feat: Add ci script to run all checks and tests
  package.json
Due: prettier --ignore-unknown --write

feat: Add gh action to run jest unittests
  .github/workflows/test-unit.yaml
Due: prettier --ignore-unknown --write

feat: Add upload to codecov step
  .github/workflows/test-unit.yaml
Due: prettier --ignore-unknown --write

feat: Add percy visual regression testing
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat: Add percy to eslint
  cypress/tsconfig.json
Due: prettier --ignore-unknown --write

feat: Add percy commands to cypress
  cypress/support/e2e.ts
Due: next lint --fix, prettier --write

feat: Add percy snapshot to example e2e test
  cypress/e2e/landingpage.cy.ts
Due: next lint --fix, prettier --write

feat: Update sample landingpage
  src/pages/index.tsx
Due: next lint --fix, prettier --write

feat: Remove page style customization
  src/styles/globals.css
Due: prettier --write, stylelint --fix

feat: Change github action to use cypress action
  .github/workflows/test-e2e.yaml
Due: prettier --ignore-unknown --write

feat: Add cypress cloud project id
  cypress.config.js
Due: next lint --fix, prettier --write

feat: Add gh action step for percy visual testing
  .github/workflows/test-e2e.yaml
Due: prettier --ignore-unknown --write

feat: Add gh action deploy to azure web apps
  .github/workflows/deploy-azure-develop.yaml
Due: prettier --ignore-unknown --write

feat: Add deploy production
  .github/workflows/deploy-azure-production.yaml
Due: prettier --ignore-unknown --write

Revert "022 - Add Github Action to deploy to Azure Web Apps"
  .github/workflows/deploy-azure-develop.yaml
  .github/workflows/deploy-azure-production.yaml
Due: prettier --ignore-unknown --write

fix: Reset develop branch after wrong pull request
  .github/workflows/deploy-azure-develop.yaml
  .github/workflows/deploy-azure-production.yaml
Due: prettier --ignore-unknown --write

feat: Add deploy to azure static web app develop
  .github/workflows/deploy-azure-develop.yaml
Due: prettier --ignore-unknown --write

feat: Add deploy to azure static web app prod
  .github/workflows/deploy-azure-production.yaml
Due: prettier --ignore-unknown --write

Path conditions:
  next lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,less})
  prettier --ignore-unknown --write: any of: *.{json,yaml,yml,md}
  stylelint --fix: any of: *.{css,scss,less}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
